numpy==2.2.4
accelerate==1.6.0
bitsandbytes==0.45.5
faiss-cpu==1.10.0
huggingface-hub==0.30.2
pandas==2.2.3
PyPDF2==3.0.1
PyMuPDF==1.25.5
python-docx==1.1.2
docx2pdf==0.1.8
pdf2docx==0.5.8
rouge==1.0.1
sentence-transformers==4.0.2
tiktoken==0.9.0
tqdm==4.67.1
transformers==4.51.2
einops==0.8.1
openpyxl==3.1.5
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121